.modal {
    display: flex;
    margin: auto;
    padding: 30px 40px 20px;
    border: none;
    border-radius: 8px;
}

.modal__closeCross {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    font-size: 14px;
}